@using SheilaWard_BugTracker.Models
@model IEnumerable<SheilaWard_BugTracker.Models.TicketComment>

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Ticket Comments</h2>
</section>

<!-- Main content -->
<section class="content">
    <table id="js-exportable" class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Ticket Title")
                </th>
                <th>
                    @Html.DisplayName("Comment Author")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @item.Created.ToString("M/d/yyyy hh:mmtt")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>