@model SheilaWard_BugTracker.Models.TicketNotification

@{
    ViewBag.Title = "Delete";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Delete Ticket Notification</h2>
    <h4>Are you sure you want to delete this?</h4>
    <hr />
</section>

<!-- Main content -->
<section class="content">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Recipient")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Recipient.FullName)
            </dd>

            <dt>
                @Html.DisplayName("Sender")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sender.FullName)
            </dd>

            <dt>
                @Html.DisplayName("Created")
            </dt>

            <dd>
                @Model.Created.ToString("MMM d, yyyy hh:mmtt")
            </dd>

            <dt>
                @Html.DisplayName("Subject")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayName("Body")
            </dt>

            <dd>
                <pre>
                    @Html.DisplayFor(model => model.NotificationBody)
                </pre>
            </dd>

            <dt>
                @Html.DisplayName("Read?")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsRead)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "MyNotifications")
            </div>
        }
    </div>
</section>