@model IEnumerable<SheilaWard_BugTracker.Models.TicketNotification>

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="row">
        <div class="col-md-10">
            <h2>Ticket Notifications</h2>
        </div>
        <div class="col-md-2">
           @using (Html.BeginForm("DeleteAll", "TicketNotifications"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <button type="submit" class="btn btn-small btn-danger" style="margin-top:20px;">Delete All Notifications</button>
            }
        </div>
    </div>
</section>
<hr />

<!-- Main content -->
<section class="content">
    <table class="table searchTbl">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Recipient")
                </th>
                <th>
                    @Html.DisplayName("Sender")
                </th>
                @*<th>
                    @Html.DisplayName("Owner/User")
                </th>*@
                <th>
                    @Html.DisplayName("Created")
                </th>
                <th>
                    @Html.DisplayName("Subject")
                </th>
                <th>
                    @Html.DisplayName("Notification Body")
                </th>
                <th>
                    @Html.DisplayName("Read?")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

           @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sender.FullName)
                </td>
                <td>
                    @item.Created.ToString("MMM d, yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    <pre>
                        @Html.DisplayFor(modelItem => item.NotificationBody)
                    </pre>
                </td>
                <td>
                    @using (Html.BeginForm("MarkAsRead", "TicketNotifications", new { returnUrl = "TicketNotifications-Index" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(modelItem => item.Id)

                    <span class="chkRead">@Html.DisplayFor(modelItem => item.IsRead)</span>

                    }
                </td>
                <td>
                     @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }

        </tbody>
    </table>
</section>

@section scripts 
{
    <script>
        $(".chkRead input[type=checkbox]").each(function () {
            if ($(this).prop('checked')) {
                ($(this).prop("disabled", true));
            }
            else {
                ($(this).prop("disabled", false));
            }
        })

        $(".chkRead input[type=checkbox]").click(function () {

        })

    </script>
}
