@model IEnumerable<SheilaWard_BugTracker.Models.TicketNotification>

@{
    ViewBag.Title = "Index";
}

<style>
    .btn-square {
        height: 13px;
        width: 10px;
        border: 1px solid gray;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="row">

        <div class="col-md-11">
            <h2>All Ticket Notifications</h2>
        </div>

        <div class="col-md-1">
           @using (Html.BeginForm("DeleteRead", "TicketNotifications"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <button type="submit" class="btn btn-sm btn-danger" style="margin-top:20px;">Delete All Read</button>
            }
        </div>

    </div>
</section>

<!-- Main content -->
<section class="content">
    <table id="js-exportable" class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Recipient")
                </th>
                <th>
                    @Html.DisplayName("Sender")
                </th>
                <th>
                    @Html.DisplayName("Created")
                </th>
                <th>
                    @Html.DisplayName("Subject")
                </th>
                <th>
                    @Html.DisplayName("Notification Body")
                </th>
                <th>
                    @Html.DisplayName("Read?")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recipient.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender.FullName)
                    </td>
                    <td>
                        @item.Created.ToString("MMM d, yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        <pre>
                            @Html.DisplayFor(modelItem => item.NotificationBody)
                        </pre>
                    </td>
                    <td>
                        @if (item.IsRead)
                        {
                            @Html.CheckBoxFor(modelItem => item.IsRead, new { @checked = "checked", disabled = "disabled" })
                        }
                        else
                        {
                            using (Html.BeginForm("MarkAsRead", "TicketNotifications", new { id = item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <button type="submit" class="btn-square" onclick="return confirm('Has the recipient of the notification read this?')"></button>
                            }
                        }
                    </td>
                    <td>
                        @if (item.IsRead)
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section scripts 
{
    <script>

        //$(".btn-square").click(function () {
        //    var answer = window.confirm("Has the recipient of the notification read this?");
        //    if (answer) {

        //    }

        //});

    </script>
}
