@model IEnumerable<SheilaWard_BugTracker.Models.TicketNotification>

@{
    ViewBag.Title = "MyNotifications";
}

    <h2>MyNotifications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recipient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.OwnerUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRead)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.OwnerUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


