@using SheilaWard_BugTracker.ViewModels
@using SheilaWard_BugTracker.Helpers
@model IEnumerable<UserIndexViewModel>
@{
    ViewBag.Title = "ManageUsers";
    var roleHelper = new UserRolesHelper();
    var projectHelper = new ProjectsHelper();
}

<style>
    .avatar {
        max-height: 30px;
        max-width: 30px;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>User Index</h2>
</section>

<!-- Main content -->
<section class="content">
    <table id="js-exportable" class="table table-bordered table-striped table-hover dataTable js-exportable">
        <thead>
            <tr>
                <th>@Html.DisplayName("Avatar")</th>
                <th>@Html.DisplayName("Name")</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayName("Phone")</th>
                <th>@Html.DisplayName("Current Role")</th>
                <th>@Html.DisplayName("Current Projects")</th>
                <th>@Html.DisplayName("Changes")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("userId", user.Id)
                        <td class="avatar"><img src="@user.AvatarUrl" class="img-responsive" /></td>
                        <td>@Html.DisplayFor(model => user.FullName)</td>
                        <td>@Html.DisplayFor(model => user.Email)</td>
                        <td>@Html.DisplayFor(model => user.PhoneNumber)</td>

                        <td>@Html.DropDownList("CurrentRole", user.CurrentRole, "-- NONE --", htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.ListBox("CurrentProjects", user.CurrentProjects, htmlAttributes: new { @class = "form-control", @style = "max-width:600px; width:400px;" })</td>
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Assign" class="btn btn-default">
                                </div>
                                <div class="col-md-12">
                                    @Html.ActionLink("Edit User Profile", "EditProfile", "Members", new { userId = user.Id }, null)
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("Back To Dashboard", "Dashboard", "Home")
</section>

@section Scripts {
}
