@model SheilaWard_BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Project Details</h2>
    <hr />
</section>

<!-- Main content -->
<section class="content">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Archived)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Archived)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>