@using SheilaWard_BugTracker.Helpers
@model SheilaWard_BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
    var projHelper = new ProjectsHelper();
    var roleHelper = new UserRolesHelper(); 
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Project Details</h2>
    <hr />
</section>

<!-- Main content -->
<section class="content">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Model.Created.ToString("MM/dd/yyyy hh:mmtt")
                @*@Html.DisplayFor(model => model.Created.ToString("MM/dd/yyyy hh:mmtt"))*@
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                @Model.Updated.GetValueOrDefault().ToString("MM/dd/yyyy hh:mmtt")
                @*@Html.DisplayFor(model => model.Updated.GetValueOrDefault().ToString("MM/dd/yyyy hh:mmtt"))*@
            </dd>
        </dl>
        <hr />
        <div class="row">
            <div class="col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-4 col-xl-offset-1 col-xl-2">
                <dl>
                    <dt>
                        @Html.DisplayName("List of Tickets on Project")
                    </dt>

                    @foreach (var ticket in Model.Tickets)
                    {
                        <dd>
                            @ticket.Title
                        </dd>
                    }

                </dl>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2">
                <dl>
                    <dt>
                        @Html.DisplayName("Assigned To")
                    </dt>

                   @foreach (var ticket in Model.Tickets)
                    {
                        <dd>
                            @if (ticket.AssignedToUser != null)
                            {
                                @ticket.AssignedToUser.FullName;
                            }
                            else
                            {
                                @Html.DisplayName("-- NONE --");  
                            }
                        </dd>
                    }

                </dl>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-4">
                <dl>
                    <dt>
                        @Html.DisplayName("All Users on Project")
                    </dt>

                    @foreach (var user in Model.Users)
                    {
                        <dd>
                            @user.FullName
                        </dd>
                    }

                </dl>
            </div>
            <div class="col-md-2 col-lg-2">
                <dl>
                    <dt>
                        @Html.DisplayName("Role")
                    </dt>

                    @foreach (var user in Model.Users)
                    {
                <dd>
                    @roleHelper.ListUserRoles(user.Id).FirstOrDefault().ToString()
                    @*@user.Roles.FirstOrDefault().ToString()*@
                </dd>
                    }

                </dl>
            </div>
        </div>

    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>