@model IEnumerable<SheilaWard_BugTracker.Models.Project>

@{
    ViewBag.Title = "Index";
}

<style>
    .color-info a {
        background-color: #D2D6DE;
        color: darkgray;
        margin: 2px;
    }

    .color-info .active a {
        background-color: #007BFF !important;
        color: white;
        margin: 2px;
    }
</style>


<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>List of Projects</h2>
</section>

<!-- Main content -->
<section class="content">
    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {
            @Html.ActionLink("Create New", "Create")

            <div class="row">
                <div class="col-md-2 text-center h5">
                    <ul class="nav nav-pills nav-justified color-info">
                        <li class="myProj">
                            <a href="@Url.Action("Index", "Projects", new { proj = "MyProjects" })">My Projects</a>
                        </li>
                        <li class="allProj">
                            <a href="@Url.Action("Index", "Projects", new { proj = "AllProjects" })">All Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
     </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>

   @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Archive", "Archive", new { id = item.Id })
                    </td>
                }
            </tr>
        }

    </table>
</section>

@section Scripts {
    @*@Scripts.Render("~/Scripts/site.js")*@
    <script>
        if ("@TempData["activeTab"]" == "All") {
            $('li.myProj').removeClass('active');
            $('li.allProj').addClass('active');
        }
        else {
            $('li.allProj').removeClass('active');
            $('li.myProj').addClass('active');
        }
    </script>
}
