@model IEnumerable<SheilaWard_BugTracker.Models.Project>

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>List of Projects</h2>
</section>

<!-- Main content -->
<section class="content">
    <p>
        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {
            @Html.ActionLink("Create New", "Create")
            <div class="center-block">
                <button id="myProj" class="btn btn-primary btn-flat active">My Projects</button>
                <button id="allProj" class="btn btn-default btn-flat">All Projects</button>
            </div>
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</section>
@section Scripts  {
    <script>
        $("#myProj").on("click", function () {
            addClass("active");
            addClass("btn-primary");
            removeClass("btn-default");
        });

        $("#allProj").on("click", function () {
            addClass("active");
            addClass("btn-primary");
            removeClass("btn-default");
        });

    </script>
}
