@using SheilaWard_BugTracker.ViewModels
@using SheilaWard_BugTracker.Helpers
@model IEnumerable<UserProfileViewModel>
@{
    ViewBag.Title = "ManageProjects";
    var projHelper = new ProjectsHelper();
    var userRolesHelper = new UserRolesHelper();
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Assign Users to Projects</h2>
</section>

<!-- Main content -->
<section class="content">

    @*@using (Html.BeginForm("ManageProjects", "Admin", FormMethod.Post, new { id = "projectId" }))*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="form-group">
                    @Html.ListBox("Users", null, htmlAttributes: new { @class = "form-control", @style = "max-width:600px; width:500px;" })
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                             @Html.ListBox("ProjectName", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="Assign" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        <table class="table searchTbl">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Full Name")</th>
                    <th>@Html.DisplayName("Role")</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayName("Project")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.LastName, @user.FirstName</td>
                        <td>@userRolesHelper.ListUserRoles(user.Id).FirstOrDefault()</td>
                        <td>@Html.DisplayFor(modelItem => user.Email)</td>
                        <td>
                            @foreach (var proj in @projHelper.ListUserProjects(user.Id).Select(p => p.Name))
                            {
                                @proj <br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
        <br />
        @Html.ActionLink("Back To Dashboard", "Dashboard", "Home")
    </div>

</section>
