@model SheilaWard_BugTracker.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    if (loginProviders.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <p>- OR -</p>
            <div class="row">
                @{
                    var i = 0;
                    foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (i == 0)
                        {
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-block btn-social btn-facebook btn-flat" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><i class="fa fa-facebook"></i> Sign in using Facebook</button>
                            </div>
                            i++;
                        }
                        if (i == 1)
                        {
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-block btn-social btn-google btn-flat" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><i class="fa fa-google-plus"></i> Sign in using Google+</button>
                            </div>
                            i++;
                        }

                    }

                }
            </div>
        }
    }
}

