@using Microsoft.AspNet.Identity;
@using SheilaWard_BugTracker.Helpers;
@using SheilaWard_BugTracker.Models;

@{

    var ticketHelper = new TicketDecisionHelper();
    var projectHelper = new ProjectsHelper();
    var notfHelper = new NotificationHelper();
    ApplicationDbContext db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
}

<style>
    .chartHR {
        border: 5px solid;
        border-radius: 5px;
        background: linear-gradient(black, red);
    }

    .chart250 {
        height: 275px;
    }
</style>

<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    @{
                        var ticketCount = @ticketHelper.GetTicketCount("New/Unassigned") + @ticketHelper.GetTicketCount("Active/Assigned");
                        <h3>@ticketCount</h3>
                    }


                    <p>TICKETS IN PROGRESS</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bug"></i>
                </div>
                <a href="@Url.Action("Index", "Tickets", new { proj = "MyTickets", stat = "InProg"})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@projectHelper.CountUserProjects()</h3>

                    <p>PROJECTS IN PROGRESS</p>
                </div>
                <div class="icon">
                    <i class="ion ion-lightbulb"></i>
                </div>
                <a href="@Url.Action("Index", "Projects", new { proj = "MyProjects" })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    @{
                        var usersOnMyProjectsCount = projectHelper.UsersOnMyProjectsCount(userId);
                        <h3>@usersOnMyProjectsCount</h3>
                    }


                    <p>USERS ON MY PROJECTS</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="@Url.Action("UsersOnMyProjects", "Admin")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@notfHelper.GetAllUserNotificationCount()</h3>

                    <p>NOTIFICATIONS</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-bell"></i>
                </div>
                <a href="@Url.Action("MyNotifications", "TicketNotifications")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <!-- TO DO List -->
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">To Do List</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                    <ul class="todo-list">
                        <li>
                            <!-- drag handle -->
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" value="">
                            <!-- todo text -->
                            <span class="text">Design a nice theme</span>
                            <!-- Emphasis label -->
                            <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
                            <!-- General tools such as edit or delete-->
                            <div class="tools">
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Make the theme responsive</span>
                            <small class="label label-info"><i class="fa fa-clock-o"></i> 4 hours</small>
                            <div class="tools">
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Let theme shine like a star</span>
                            <small class="label label-warning"><i class="fa fa-clock-o"></i> 1 day</small>
                            <div class="tools">
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>

                        <li>
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Check your messages and notifications</span>
                            <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 week</small>
                            <div class="tools">
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                    <form>
                        <div class="col-md-4">
                            <input id="to-do-text" required type="text" placeholder=" Type new To-Do" />
                        </div>
                        <div class="col-md-3">
                            <input id="to-do-due" type="text" placeholder=" When Due?" />
                        </div>
                        <div class="col-md-3">
                            <select id="bg-color" class="label-default">
                                <option value="label-default" class="">Default</option>
                                <option value="label-danger" class="label-danger">Red</option>
                                <option value="label-info" class="label-info">Aqua</option>
                                <option value="label-primary" class="label-primary">Blue</option>
                                <option value="label-success" class="label-success">Green</option>
                                <option value="label-warning" class="label-warning">Yellow</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button id="addToDo" type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add item</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.Left Column-->
        <!-- Right Column -->
        <div class="col-md-6">
            <!-- Calendar -->
            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">Calendar</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <!-- button with a dropdown -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Add new event</a></li>
                                <li><a href="#">Clear events</a></li>
                                <li class="divider"></li>
                                <li><a href="#">View calendar</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <!--The calendar -->
                    <div id="calendar" style="width: 100%"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-black">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Progress bars -->
                            <div class="clearfix">
                                <span class="pull-left">Task #1</span>
                                <small class="pull-right">90%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                            </div>

                            <div class="clearfix">
                                <span class="pull-left">Task #2</span>
                                <small class="pull-right">70%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="clearfix">
                                <span class="pull-left">Task #3</span>
                                <small class="pull-right">60%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                            </div>

                            <div class="clearfix">
                                <span class="pull-left">Task #4</span>
                                <small class="pull-right">40%</small>
                            </div>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.box -->

        </div>
        <!-- /.Right Column -->

    </div>
    <!-- /.row (main row) -->
    <hr />

    <div class="row">
        <div class="col-md-4">
            <canvas id="myChart" height="200"></canvas>
        </div>

        <!-- DONUT CHART -->
        <div class="col-md-4">
            <canvas id="pieChart" style="height:200px"></canvas>
        </div>

        @if (!User.IsInRole("Developer"))
        {
            <div class="col-md-4">
                <canvas id="myActiveDevs" height="200"></canvas>
            </div>
        }

    </div>

</section>

@section scripts
        {
    @*<script>
            new Morris.Bar({
                element: 'HardCodedMorrisBarChart1',
                gridTextSize: 8,
                xLabelAngle: 45,
                data: [
                    { label: 'New/Unassigned', value: 20 },
                    { label: 'Active/Assigned', value: 50 },
                    { label: 'Inactive', value: 5 },
                    { label: 'Completed', value: 150 },
                    { label: 'Archived', value: 200 },
                ],
                xkey: 'label',
                ykeys: ['value'],
                labels: ['Ticket Count'],
                resize: true
            });
        </script>

        <script type="text/javascript">
            $(function () {
                $.post('@Url.Action("GetHardCodedMorrisBarData", "Charts")').then(function (response) {
                    new Morris.Bar({
                        element: 'HardCodedMorrisBarChart2',
                        data: response,
                        xkey: 'label',
                        ykeys: ['value'],
                        labels: ['Ticket Count'],
                        resize: true
                    });
                });
            });
        </script>

        <script type="text/javascript">
            $(function () {
                $.post('@Url.Action("GetRealMorrisData", "Charts")').then(function (response) {
                    new Morris.Bar({
                        element: 'RealMorrisBarChart',
                        data: response,
                        gridTextSize: 10,
                        xLabelAngle: 65,
                        xkey: 'label',
                        ykeys: ['value'],
                        labels: ['Ticket Count'],
                        resize: true
                    });
                });
            });
        </script>

        <script type="text/javascript">
            $(function () {
                $.post('@Url.Action("GetRealMorrisData", "Charts")').then(function (response) {
                    new Morris.Donut({
                        element: 'RealMorrisDonutChart',
                        data: response,
                        gridTextSize: 10,
                        xkey: 'label',
                        ykeys: ['value'],
                        labels: ['Ticket Count'],
                        resize: true
                    });
                });
            });

        </script>*@


    <script>
        // jQuery UI sortable for the todo list
        var dueColor = "label-default";
        $('.todo-list').sortable({
            placeholder: 'sort-highlight',
            handle: '.handle',
            forcePlaceholderSize: true,
            zIndex: 999999
        });

        $('.todo-list').todoList({
            onCheck: function () {
                window.console.log($(this), 'The element has been checked');
            },
            onUnCheck: function () {
                window.console.log($(this), 'The element has been unchecked');
            }
        });

        $('.todo-list').on("click", ".fa-trash-o", function (e) {
            $(this).closest("li").fadeOut(500, function () {
                $(this).remove();
            });
            e.stopPropagation();
        });

        $('#addToDo').click(function () {
            var todoText = $("#to-do-text").val();
            $("#to-do-text").val("");
            var todoDue = $("#to-do-due").val();
            $("#to-do-due").val("");
            $('ul.todo-list').append('<li><span class="handle"><i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i></span><input type="checkbox" value=""><span class="text">' + todoText + '</span><small class="label ' + dueColor + '"><i class="fa fa-clock-o"></i>&nbsp;' + todoDue + '</small><div class="tools"><i class="fa fa-trash-o"></i></div></li>');
        });

        $('#bg-color').on('change', function () {
            $('#bg-color').removeClass();
            $('#bg-color').addClass(this.value);
            dueColor = this.value;
        });
    </script>

    <script>
        $.post('@Url.Action("GetTicketsPercentDone", "Charts")').then(function (response) {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: response.Labels,
                datasets: [{
                    label: '% Done',
                    data: response.Values,
                    backgroundColor: [
                        'rgb(60,141,188)',
                        'rgb(243,156,17)',
                        'rgb(0,166,90)',
                        'rgb(221,76,57)',
                        'rgb(210,214,223)',
                        'rgb(0,192,239)',
                        'rgb(60,141,188)',
                        'rgb(243,156,17)',
                        'rgb(0,166,90)',
                        'rgb(221,76,57)',
                        'rgb(210,214,223)',
                        'rgb(0,192,239)'
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                        display: true,
                        text: 'My Active Tickets'
                }
            }
        });
    });
    </script>

    <script>
        $.post('@Url.Action("GetTicketStatusData", "Charts")').then(function (response) {
            var ctx = document.getElementById('pieChart').getContext('2d');
            var pieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: response.Labels,
                    datasets: [{
                        label: '',
                        data: response.Values,
                        backgroundColor: [
                            'rgb(60,141,188)',
                            'rgb(243,156,17)',
                            'rgb(0,166,90)',
                            'rgb(221,76,57)',
                            'rgb(153, 102, 255)'
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'My Ticket Statuses'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true,
                        animationSteps: 100,
                        animationEasing: 'easeOutBounce',
                    }
                }
            });
        });

    </script>

    <script>
        $.post('@Url.Action("GetTicketsAssignedToDevs", "Charts")').then(function (response) {
            var ctx = document.getElementById('myActiveDevs').getContext('2d');
            var myActiveDevs = new Chart(ctx, {
                type: 'bar',
                data:
                {
                    labels: response.Labels,
                    datasets: [
                        {
                            label: "Active",
                            backgroundColor: "rgb(60,141,188)",
                            data: response.ValueActive
                        },
                        {
                            label: "Completed",
                            backgroundColor: "rgb(0,166,90)",
                            data: response.ValueComplete
                        }]
                },
                options:
                {
                    title:
                    {
                        display: true,
                        text: '# Tickets Assigned To Developers on My Projects'
                    }
                }
            });
        });
    </script>
}

