@model SheilaWard_BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Ticket Details</h2>
</section>

<!-- Main content -->
<section class="content">

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Assigned To")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedToUser.FullName)
            </dd>

            <dt>
                @Html.DisplayName("Owner")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerUser.FullName)
            </dd>

            <dt>
                @Html.DisplayName("Project")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Name)
            </dd>

            <dt>
                @Html.DisplayName("Priority")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketPriority.Name)
            </dd>

            <dt>
                @Html.DisplayName("Status")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketStatus.Name)
            </dd>

            <dt>
                @Html.DisplayName("Type")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Model.Created.ToString("MM/dd/yyyy hh:mmtt")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                 @Html.DisplayFor(model => model.Updated)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>
