@using SheilaWard_BugTracker.Helpers
@model IEnumerable<SheilaWard_BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
    var LinkHelper = new LinkHelper();
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>List of Tickets</h2>
</section>

<!-- Main content -->
<section class="content">
    <p>
        @if (User.IsInRole("Submitter"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Assigned To")
            </th>
            <th>
                @Html.DisplayName("Owner")
            </th>
            <th>
                @Html.DisplayName("Project")
            </th>
            <th>
                @Html.DisplayName("Priority")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Created.ToString("MM/dd/yyyy hh:mmtt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                
                <td>
                    @if (LinkHelper.UserCanEditTicket(item) != null)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                }

            </tr>
        }

    </table>
</section>

@section scripts {
    <script>
        var msg = '@TempData["Message"]';
        if (msg != "")
        {
            Swal.fire({
                type: 'error',
                title: 'AUTHORIZATION ERROR!',
                text: msg
            })
        }
    </script>
}
