@using SheilaWard_BugTracker.Helpers
@model IEnumerable<SheilaWard_BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
    var linkHelper = new LinkHelper();
    var tktHelper = new TicketDecisionHelper();
    var stat = ViewBag.Stats;
}

<style>
    .color-info a {
        background-color: #D2D6DE;
        color: darkgray;
        margin: 2px;
    }

    .color-info .active a {
        background-color: #007BFF !important;
        color: white;
        margin: 2px;
    }
</style>


<!-- Content Header (Page header) -->
<section class="content-header">
    @{
        
        if (ViewBag.Stats == "All")
        {
            <h2>List of Tickets - All</h2>
        }
        else if (ViewBag.Stats == "InProg")
        {
            <h2>List of Tickets - In Progress</h2>
        }
        else
        {
            <h2>List of Tickets - Completed</h2>
        }
    }

</section>

<!-- Main content -->
<section class="content">
    <p>
       @if (User.IsInRole("Submitter"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>

    <p>
        <div class="row">
            <div class="col-md-2 text-center h5">
                <ul class="nav nav-pills nav-justified color-info">
                    <li class="myTkt">
                        <a href="@Url.Action("Index", "Tickets", new { tkt = "MyTickets", stat = stat })">My Tickets</a>
                    </li>
                    <li class="allTkt">
                        <a href="@Url.Action("Index", "Tickets", new { tkt = "AllTickets", stat = stat })">All Tickets</a>
                    </li>
                </ul>
            </div>
        </div>
    </p>

    <table class="table searchTbl">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Assigned To")
                </th>
                <th>
                    @Html.DisplayName("Owner")
                </th>
                <th>
                    @Html.DisplayName("Project")
                </th>
                <th>
                    @Html.DisplayName("Priority")
                </th>
                <th>
                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayName("Type")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
           {
                if (ViewBag.Stats == "InProg")
                {
                    if (item.TicketStatus.Name == "Completed" || item.TicketStatus.Name == "Archived" || item.TicketStatus.Name == "Inactive")
                    {
                        continue;  // Skip the display and read the next item
                    }
                }
                if (ViewBag.Stats == "Completed")
                {
                    if (item.TicketStatus.Name == "New/Unassigned" || item.TicketStatus.Name == "Active/Assigned")
                   {
                       continue;  // Skip the display and read the next item
                   }
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @item.Created.ToString("MM/dd/yyyy hh:mmtt")
                    </td>
                    <td>
                        @if (item.Updated.GetValueOrDefault().ToString("MM/dd/yyyy hh:mmtt") != "01/01/0001 12:00AM")
                        {
                            @item.Updated.GetValueOrDefault().ToString("MM/dd/yyyy hh:mmtt")
                        }
                    </td>

                    <td>
                        @if (linkHelper.UserCanEditTicketPriorityTypeTitleDescription(item))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id, stat = stat })<br />

                            if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                @Html.ActionLink("Assign", "AssignToTkt", new { id = item.Id, stat = stat })<br />
                            }
                            @Html.ActionLink("Dashboard", "Dashboard", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section scripts {
    <script>
        var msg = '@TempData["Message"]';
        if (msg != "")
        {
            Swal.fire({
                type: 'error',
                title: 'AUTHORIZATION ERROR!',
                text: msg
            })
        }
    </script>

    <script>
        if ("@TempData["activeTab"]" == "All") {
            $('li.myTkt').removeClass('active');
            $('li.allTkt').addClass('active');
        }
        else {
            $('li.allTkt').removeClass('active');
            $('li.myTkt').addClass('active');
        }
    </script>

}
