@model IEnumerable<SheilaWard_BugTracker.Models.TicketHistory>

@{
    ViewBag.Title = "Ticket Histories";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Ticket Histories</h2>
</section>

<!-- Main content -->
<section class="content">
    <table class="table searchTbl">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayName("Owner/User")
                    </th>*@
                <th>
                    @Html.DisplayName("Ticket Title")
                </th>
                <th>
                    @Html.DisplayName("User Making The Change")
                </th>
                <th>
                    @Html.DisplayName("Property Changed")
                </th>
                <th>
                    @Html.DisplayName("Old Value")
                </th>
                <th>
                    @Html.DisplayName("New Value")
                </th>
                <th>
                    @Html.DisplayName("Date Changed")
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    @*<td>

                            @Html.DisplayFor(modelItem => item.Ticket.OwnerUser.FullName)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OldValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewValue)
                    </td>
                    <td>
                        @item.DateChanged.ToString("MM/dd/yyyy hh:mmtt")
                    </td>
                </tr>
            </tbody>
        }
    </table>
</section>
